<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleMain.css">
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Token Sale</title>
</head>
<body>
    <div class="main_bar">
        <img src="images/sale.png" alt="Icon Main">
        <h1>Token Sale</h1>
    </div>
    <main class="main_view_main">
        <div class="info_login">
            <img src="images/ficho.png" alt="Icon Sale">
            <h1 id="parrafoMod">Quedan 1500 fichos, no te quedes sin el tuyo 
                <i class="fas fa-smile-wink"></i>.</h1>
            <br><p>Valor: $1.000 pesos</p>
        </div>

        <div class="form_login">
            <div class="content" id="content">
                <p>FICHO ALMUERZO CAFETERIA CENTRAL X1</p>
                <p>VALOR: $1.000 COP</p>
            </div>
            <a href="#" id="comprar" onclick="comprarFicho()">Comprar</a>
        </div>
   </main>
   <script src="../js/main_compra.js"></script>
</body>
</html>